@charset "utf-8";
/* CSS Document */

html, body{
	min-width:100%;
	min-width:100%;
	}
body{
	margin:0;
	padding:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#222222;
	}
*{
	outline:none;
	}
img {
	border:0;
	}
ul{
	list-style:none;
	}
a {
	text-decoration:none;
	}
.wrap {
	width:700px;
	margin:0 auto;
	padding:151px 0 0 0;

	overflow:auto;
	}	
#fwrap{
	overflow:auto;
	}
.header{
	margin:0;
	padding:0;
	overflow:auto;
	background:#2D2D2D;
	/*min-height:80px;*/
	}
.mainnav ul{
	margin:0;
	padding:0;
	overflow:auto;
	}
.mainnav ul li{
	float:left;
	}
.mainnav > ul > li:last-child{
	float:right;
	margin-right:20px;
	}	
.mainnav ul li a{
	display:block;
	padding:8px 7px 6px 7px;
	color:#ccc;
	font-size:13px;
	}
.mainnav ul > li:hover > a{
	color:#fff;
	background:rgba(90,90,90,0.4);
	}
.mainnav ul li.active a{
	color:#fff;
	}
.mainnav ul ul{
	display:none;
	overflow:visible;
	position:absolute;
	border: 1px solid #ccc;
	box-shadow:0 0 3px #888;
	width:110px;
	}
.mainnav ul li ul li{
	float:none;
	}
.mainnav ul li:hover > ul{
	display:block;
	}
.mainnav ul ul li a{
	 color:#3366CC;
	 line-height: 27px;
	 padding:0px 0px 0 20px;
	 margin:6px 0;
	 background:#fff;
	border-bottom:1px solid #f9f9f9;
	}
.mainnav ul ul > li:hover > a{
	background:rgba(0,102,255,0.1);
	color:#3366CC;
	}							
#logo{
	position:relative;
	margin:0 auto;
	padding:0;
	width:275px;
	height:95px;
	background:#fff url(../img/logo3w.png) no-repeat center;
	}
#logo span{
	display:block;
	position:absolute;
	bottom:8px;
	right:25px;
	z-index:100;
	color:#777777;
	font-weight:bold;
	font-size:16px;
	}	
.googlsearch{
	padding-left:50px;
	overflow:auto;
	}
.googlsearch input{
	margin-top:25px;
	}		
.googlsearch .field{
	width:571px;
	padding:6px 8px;
	border:1px solid #ccc;
	}
.googlsearch .field:hover{
	border:1px solid #999;
	}
.googlsearch .field:focus{
	border:1px solid rgba(0,51,255,0.4);
	}
.googlsearch #btn{
	margin-left:180px;
	margin-top:15px;
	}	
.googlsearch .button{
	margin-left:6px;
	 background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
	}
.googlsearch .button:hover{
	 background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
		}				
.language {
	text-align:center;
	padding:30px 0 0 0;
	}
.language a{
	margin-left:10px;
	color:#1122CC;
	font-size:13px;
	}
.language a:hover{
	text-decoration:underline;
	}
#footer{
	margin-top:512px;
	padding-top:3px;
	color:#F5F5F5;
	border-top: 1px solid #EBEBEB;
	overflow:auto;
	min-height:30px;
	 }
#footer .left{
	float:left;
	margin-left:57px;
	}
#footer .left p{
	margin:0;
	padding:0;
	color:#666666;
	}
#footer .right{
	float:right;
	margin-right:57px;
	}
#footer .right a{
	color:#666666;
	margin-left:20px;
	}
#footer .right a:hover{
	text-decoration:underline;
	}					 											