@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	min-width:960px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#999;
}
*{
	outline:none;
}
a img {
	border:0;
}
.left {
	float:left;
}
.right {
	float:right;
}
#wrap {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	z-index:2;
}
.header {
	height:78px;
	position:absolute;
	width:100%;
	background:url(../img/headerbg.png) repeat-x bottom left;
}
.header .headerwrap {
}
.header .logo {
	position:absolute;
	left:90px;
	padding-top:10px;
}
.header .logo a {
	display:block;
	height:53px;
	width:318px;
	background:url(../img/logo.png) no-repeat center;
	text-indent:-9999px;
}
.header .nav {
	overflow:auto;
	position:absolute;
	right:105px;
	top:24px;
}
.header .nav ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:auto;
}
.header .nav ul li {
	float:left;
}
.header .nav ul li a {
	display:block;
	padding:3px 15px;
	color:#fff;
	text-decoration:none;
	font-size:16px;
	text-transform:uppercase;
}
.header .nav ul li:hover a, .header .nav ul li.selected a {
	color:#81b1ff;
}
.footer {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
}
.leftbox1 {
	position:absolute;
	width:35px;
	height:50px;
	background:url(../img/footer.png) repeat-x left top;
	left:0;
	margin-top:21px;
	overflow:hidden;
}
.updateheader {
	position:absolute;
	left:36px;
	height:71px;
	width:254px;
	background:url(../img/lupdatebg.png) no-repeat top center;
	overflow:hidden;
}
.updateheader img {
	display:block;
	margin-top:21px;
	padding:19px 22px 19px 22px;
	cursor:pointer;
}
.footerright {
	margin-left:291px;
	background:url(../img/footer.png) repeat-x left top;
	height:50px;
	margin-top:21px;
	overflow:hidden;
	color:#929296;
	font-size:15px;
}
.footerright .left {
	margin:19px 40px;
}
.footerright .right {
	margin:15px 20px;
	margin-right:105px;
}
.footerright .right ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:auto;
}
.footerright .right ul li {
	float:left;
}
.footerright .right ul li.fb-ico a {
	display:block;
	width:32px;
	height:32px;
	background:url(../img/fb-ico.png) no-repeat center;
	text-indent:-9999px;
	margin-right:15px;
}
.footerright .right ul li.tw-ico a {
	display:block;
	width:32px;
	height:32px;
	background:url(../img/tw-ico.png) no-repeat center;
	text-indent:-9999px;
	margin-right:15px;
}
.footerright .right ul li.ft-email a {
	display:block;
	padding:5px 15px 5px 30px;
	background:url(../img/mail-ico.png) no-repeat left center;
	vertical-align:middle;
	margin-left:15px;
}
.footerright .right ul li.ft-phone a {
	display:block;
	padding:5px 15px 5px 30px;
	background:url(../img/phone-ico.png) no-repeat left center;
	vertical-align:middle;
}
.footerright a {
	color:#929296;
	text-decoration:none;
}
.footerright a:hover {
	color:#81b1ff;;
}
#action {
	position:absolute;
	right:10px;
	bottom:60px;
	background:#333;
	padding:2px 4px;
	border-radius:5px;
	cursor:pointer;
	color:#fff;
}











#whatsnew {
	position:absolute;
	bottom:50px;
	left:36px;
	height:0px;
	overflow:hidden;
}
#whatsnew h1 {
	text-align:center;
	color:#ffffff;
	margin:0;
	padding:7px 0;
	background: #4b4a4f;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#626266', endColorstr='#4b4a4f');
	background: -webkit-gradient(linear, left top, left bottom, from(#626266), to(#4b4a4f));
	background: -moz-linear-gradient(top,  #626266,  #4b4a4f);
	border-bottom:1px solid  #fff;
	font-size:20px;
}
#whatsnew ul {
	background:url(../img/transgray.png);
	margin:0;
	list-style:none;
	padding:22px;
	overflow:auto;
	width:275px;
}

#whatsnew ul li {
	float:left;
	width:136px;
	height:71px;
	/*border-top:3px solid #fff;*/
	position:relative;
}

li.new1.image,  li.new2.caption, li.new3.image, li.new4.caption, li.new5.image{
	border-right:3px solid #fff;
}
li.new2.caption, li.new2.image, li.new3.caption, li.new3.image, li.new4.caption, li.new4.image, li.new5.image, li.new5.caption {
	border-top:3px solid #fff;
}
#whatsnew ul li a {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	background:url(../img/ajax-loader-small.gif) no-repeat center;
}
#whatsnew ul li a img {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	display:none;
}
#whatsnew ul li a span {
	position:absolute;
	width:100%;
	height:100%;
	background:#333 url(../img/zoom.png) center no-repeat;
	left:0;
	top:0;
	z-index:2;
	opacity:0.4;
	display:none;
}
#whatsnew ul li div.captiondiv {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:2;
	color:#fff;
	text-align:center;
	font-size:16px;
	padding-top:5px;
	display:none;
}
#whatsnew ul li:first-child {
	border-top:none;
}
#whatsnew ul li:nth-child(2) {
	border-top:none;
}