@charset "utf-8";
/* CSS Document */

.contact {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:30px;	
}
.contact form {
	width:270px;
	margin:0 auto;
}
.contact form label {
	width:45px;
	display:block;
	font-size:10px;
}
.contact form .field {
	width:181px;
	font-size:10px;
	margin-bottom:10px;
	border:0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding:5px;
	font-size:14px;
}
.contact form textarea {
	width:250px;
	height:80px;
	border:0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.contact form .submitter {
	margin-top:10px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 0px 25px;
	background:#3a6e9f;
	color:#fff;
	border:1px solid #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.contact form .submitter:hover {
	text-decoration: none;
}
.contact form .submitter:active {
	position: relative;
	top: 1px;
}
